{% extends 'baseNoAuth.html.twig' %}

{% block title %}
    Log in!
{% endblock %}

{% block body %}
    <div class="auth-container">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as
                {{ app.user.userIdentifier }},
                <a href="{{ path('app_logout') }}">
                    Logout
                </a>
            </div>
        {% else %}
            <h1 class="auth-title white">
                Se connecter
            </h1>

            <form method="post">
                <label for="username">
                    Email
                </label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                
                <label for="password">
                    Password
                </label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="button button-submit" type="submit">
                    Sign in
                </button>
            </form>
       <a class="text_redirection" href= {{ path('app_security_register') }}><p> pas de compte ? <u> S'inscrire</u></p></a>
        {% endif %}
    </div>
{% endblock %}
